<h1>Tasks Posts</h1>
<div class = "col-md-8 offset-2">
  <% @tasks.each do |task| %>
    <h2><%= task.title %></h2>
    <p><%= truncate(task.description, length: 50) %></p>
    <p><small>Tags: <%= raw task.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></small</p>
    <p><%= link_to "Read Task", task_path(task) %></p>
  <% end %>
</div>